<div class = "devise-user-paths">

  <h2 class="white">FORGOT YOUR PASSWORD?</h2>
  <hr>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="ui input">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="actions">
      <%= f.submit "Reset Password", class:"user-action-button" %>
    </div>
  <% end %>
</div>
