
<div class = "home-page white">
    <%= image_tag "BarterUp.png", class: "logo-homepage"%>
   
    <h2 class="white">OOPS!</h2> 
    <hr style="margin-right: 300px;">

    <h2 class ="white"> You found our secret page, look at you!</h2>
    <p>Not a lot going on here, just a pathway to nowhere. Why don't you check out our home page instead?</p>
  </div>