// @import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
// @import "overrides";

a {
  color: white;
}

body {
  background-image: url('background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: flex;
  background-position: center;
  zoom: 90%;
}

input {
  margin-top: 5px;
}

//  CUSTOM CLASSES 
.comment-bar {
  padding: 10px;
  background-color:#d1dada ;
  width: 70vw;
}

.comment-count {
  float: right;
}


.container {
  padding: 50px;
}

.devise-user-paths {
  margin: auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #588b8b ;
  width: 50vw;
}

h2.devise-paths {
  color: white;
}

.horizontal-bar {
  padding: 10px;
  background-color:#d1dada ;
  border-radius: 8px;
  width: 70vw;
}

.profile-photo {
  position: relative;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo-display {
  padding: 10px;
  opacity: .86;
}


.user-action-button {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px; 
  border: 0px;
  border-radius: 5px;
}
.user-info {
  padding: 10px;
}



// SEMANTIC UI CUSTOMIZATIONS 


.i {
  margin-left: 3px;
}

.ui.button {
  background-color: white;
}

.ui.card {
  width: 70vw; 
  height: flex;
}

.ui.comments {
  width: 70vw;
  background-color: #ffffff96;
  border-radius: 8px;
  padding: 25px;
 
}


