// @import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
// @import "overrides";

// SITE COLORS
// Teal/Blue: #588b8b 
// Pink: #ffd5c2
// Orange: #f18b34
// Red: #c8553d
// Translucent Red: #c8543dd1

a {
  color: white;
}

a:hover {
  color:  #c8553d;
}

body {
  background-image: url('background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: flex;
  background-position: center;
  zoom: 100%;
}

footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight:300;
  color: white
}

h2.white {
  color: white;
  font-weight: 300;
}

// CUSTOM ID'S
// #search-bar {
//   align-items: right;
//   margin-top: 0px;
// }

//  CUSTOM CLASSES 
.comment-bar {
  padding: 10px;
  background-color:#d1dada ;
  width: 70vw;
}

.comment-count {
  float: right;
}

.container {
  padding: 50px;
}

.custom-form {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background-color: #588b8b;
  border-radius: 8px;
  width: 40vw;
}

.devise-user-paths {
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #588b8b ;
  color: white;
  width: 50vw;
}

.form-control {
  margin-top: 5px;
  width: 30vw;
}

.header { 
  color: #588b8b ;
  font-weight: 300;
}

.f-right { 
  float: right;
}

.horizontal-bar {
  padding: 10px;
  background-color:#d1dada ;
  border-radius: 8px;
  width: 70vw;
}

.home-page {
  padding: 50px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10vh;
  background-color:#c8543dd1;
  border-radius: 8px;
  height: 70vh;
}
.logo-homepage {
  width: 25%;
  height: auto;
  float: right;
}

.profile-photo {
  position: relative;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo-display {
  padding: 10px;
  opacity: .86;
}

.user-action-button {
  color: grey;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px; 
  border: 0px;
  border-radius: 5px;
}

.user-info {
  padding: 10px;
}


.white {
  color: white;
  font-weight: 100;
}

// SEMANTIC UI CUSTOMIZATIONS 
.i {
  margin-left: 3px;
}

body > div.container > div > div.ui.card > div.extra.content > div > img {
  width: 50px;
  height: auto;
}

.ui.button {
  background-color: whitesmoke;
  // margin-left: 15px;
  // margin-right: 15px;
}

.ui.card {
  width: 70vw; 
  height: flex;
}

.ui.comments {
  width: 70vw;
  background-color: #ffffff96;
  border-radius: 8px;
  padding: 25px;
 
}


